<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update uSer</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="lastName">Enter last name: </label>
  <input type="text" th:field="*{lastName}" id="lastName">
  <br/>
  <label for="password">Enter last name: </label>
  <input type="text" th:field="*{password}" id="password">
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <label for="admin">adminka</label>
  <input type="checkbox" th:field="*{admin}" id="admin"/>
  <br/>
  <input type="submit" value="Edit User">
  <br/>
  <a th:href="@{/logout}">USER LOG OUT</a>

</form>

</body>
</html>